.container {
  padding: 30px 35px;
}

.PostEditor__container {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-out;
}
.PostEditor {
  border: 0;
  box-sizing: border-box;
  font-family: ripplingFontBook;
  font-size: 16px;
  height: auto;
  min-height: 140px;
  outline: none;
  padding: 20px;
  resize: none;
  width: 100%;
}

.PostEditor__input {
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-family: ripplingFontBook;
  font-size: 16px;
  height: auto;
  min-height: 140px;
  outline: none;
  padding: 20px;
  resize: none;
  width: 100%;
}

.PostEditor__footer {
  margin-top: -40px;
  transition: margin-top 0.1s ease-out;
  z-index: 1;
  background-color: #182433;
  padding: 10px;
}

.PostEditor__footer button.send {
  opacity: 0.8;
  color: #182433;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin: 0 10px;
  outline: none;
  padding: 5px 10px 5px;
  text-transform: uppercase;
}
.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}